body{
	background: url(https://cdn.pixabay.com/photo/2016/01/02/04/59/coffee-1117933_960_720.jpg) no-repeat fixed;
	background-size: 100%;
	margin:0 auto;
	font-family: "Arial", sans-serif;
	color: #1a0d00;
}
.body{
	width: 800px;
	margin: 1% auto;
	background: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	text-align: center;
	padding: 30px;
	transition: 0.2s;
}
.body:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.body h1{
	margin: 0;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	color:  #331a00;
}
#cardapio th{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.8em;
	color:  #331a00;
}
#pedido th{
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.8em;
	color:  #331a00;
	width: 1%;
}

#pedido img{
	width: 35px;
}

h2{
	margin: 0;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
	color:  #331a00;
}

label{
	display: block;
	margin: 5px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 1.5em;
	color: #1a0d00;
}

input{
	display: block;
	margin: 3% auto;
	border-radius: 5px;
	border: solid 1px #1a0d00;
	color: #1a0d00;
	background-color: rgba(255, 255, 255, 0.5);
}
.card{
	width: 50%;
}
table{
	width: inherit;
	margin: 1.5% auto;
	font-size: 1.2em;
}
.adicionar{
	width: 50%;
	margin: 3% auto;
}
.adicionar h2{
	font-size: 1.8em;
}
.card, .adicionar{
	float: left;
}
#pedido td{
	width: 1%;
}

#pedido, h2, hr{
	clear: both;
}

#enviar{
	color: rgba(255, 255, 255, 0.5);
	background-color: #331a00;
	transition: 0.5s;
}
#enviar:hover{
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.19);
}

#enviar:active{
	box-shadow: none;
}
